In [43]:
import pandas as pd
import numpy as np
from IPython.display import display, Image
import matplotlib.pyplot as plt

In [118]:
df = pd.read_csv(r'..\datasets\GoodReads_100k_books.csv')

In [21]:
df.describe()

               pages         rating        reviews  totalratings
count  100000.000000  100000.000000  100000.000000  1.000000e+05
mean      255.010240       3.833055     181.528450  2.990764e+03
std       367.913582       0.621237    1449.451229  3.635338e+04
min         0.000000       0.000000       0.000000  0.000000e+00
25%       135.000000       3.660000       3.000000  3.100000e+01
50%       240.000000       3.910000      15.000000  1.460000e+02
75%       336.000000       4.140000      67.000000  7.440000e+02
max     70000.000000       5.000000  158776.000000  3.819326e+06

In [119]:
df = df.loc[:, ['title', 'author', 'desc', 'genre', 'rating', 'reviews', 'totalratings',
           'pages', 'img', 'link', 'isbn']]

In [120]:
df.dropna(subset=['desc', 'title', 'img'], inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 91988 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         91988 non-null  object
 1   author        91988 non-null  object
 2   desc          91988 non-null  object
 3   genre         84851 non-null  object
 4   rating        91988 non-null  float64
 5   reviews       91988 non-null  int64
 6   totalratings  91988 non-null  int64
 7   pages         91988 non-null  int64
 8   img           91988 non-null  object
 9   link          91988 non-null  object
 10  isbn          79909 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 8.4+ MB

In [121]:
df['score'] = df['rating'] * df['totalratings']
df['score'] = (df['score'] / df['score'].max()).round(3)

In [34]:
df.sort_values(by='score', ascending=False).head(10)

,title,author,desc,genre,rating,reviews,totalratings,pages,img,link,isbn,score
27180,The Fault in Our Stars,John Green,Despite the tumor-shrinking medical miracle th...,"Young Adult,Romance,Fiction,Contemporary,Reali...",4.19,158776,3819326,313,https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/11870085-the-f...,NaN,1.000
57742,Harry Potter and the Deathly Hallows,J.K. Rowling,Harry Potter is leaving Privet Drive for the l...,"Fantasy,Young Adult,Fiction,Fantasy,Magic,Chil...",4.62,68974,2984351,759,https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/136251.Harry_P...,NaN,0.862
81236,Harry Potter and the Chamber of Secrets,"J.K. Rowling,Mary GrandPrÃ©",Ever since Harry Potter had come home for the ...,"Fantasy,Young Adult,Fiction,Fantasy,Magic,Chil...",4.43,57146,2934616,341,https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/15881.Harry_Po...,439064864,0.812
49695,Divergent,Veronica Roth,"In Beatrice Prior's dystopian Chicago world, s...","Young Adult,Science Fiction,Dystopia,Fiction,F...",4.18,110042,3099689,487,https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/13335037-diver...,62024035,0.810
94942,Animal Farm,"George Orwell,Russell Baker,C.M. Woodhouse",Librarian's note: There is an Alternate Cover ...,"Classics,Fiction,Science Fiction,Dystopia,Fant...",3.96,61970,2938072,141,https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/170448.Animal_...,451526341,0.727
1231,"The Lion, the Witch and the Wardrobe",C.S. Lewis,"Narniaâ€¦ the land beyond the wardrobe door, a...","Fantasy,Classics,Fiction,Young Adult,Childrens...",4.22,23770,2256904,206,https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/100915.The_Lio...,NaN,0.595
52796,A Game of Thrones,George R.R. Martin,Here is the first volume in George R. R. Marti...,"Fantasy,Fiction,Fantasy,Epic Fantasy,Adult,Sci...",4.44,55705,2097707,835,https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/13496.A_Game_o...,553588486,0.582
31988,The Lovely Bones,Alice Sebold,"""My name was Salmon, like the fish; first name...","Fiction,Mystery,Young Adult,Contemporary,Fanta...",3.82,41393,2095009,372,https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/12232938-the-l...,316166685,0.500
12325,Fifty Shades of Grey,E.L. James,When literature student Anastasia Steele goes ...,"Romance,Fiction,Adult Fiction,Erotica,Adult,Er...",3.66,79264,2070036,356,https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/10818853-fifty...,1612130291,0.473
44713,Fahrenheit 451,Ray Bradbury,"Guy Montag is a fireman. In his world, where t...","Classics,Fiction,Science Fiction,Science Ficti...",3.99,51835,1803486,194,https://i.gr-assets.com/images/S/compressed.ph...,https://goodreads.com/book/show/13079982-fahre...,NaN,0.450

In [122]:
df.drop_duplicates(subset=['title'], inplace=True)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89772 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         89772 non-null  object
 1   author        89772 non-null  object
 2   desc          89772 non-null  object
 3   genre         82710 non-null  object
 4   rating        89772 non-null  float64
 5   reviews       89772 non-null  int64
 6   totalratings  89772 non-null  int64
 7   pages         89772 non-null  int64
 8   img           89772 non-null  object
 9   link          89772 non-null  object
 10  isbn          78228 non-null  object
 11  score         89772 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 8.9+ MB

In [113]:
df['genre'] = df['genre'].str.split(',')
df['author'] = df['author'].str.split(',')

In [104]:
def display_book_info(book_series: pd.Series):
    """
    Displays information about the book and displays book cover.
    """
    title, author, img, link = book_series['title'], book_series['author'], book_series['img'], book_series['link']
    print(f"Title: {title}")
    print(f"Author: {', '.join(author)}")
    print(f"Link: {link}")
    display(Image(url=img, width=200, height=300))

In [114]:
display_book_info(df.sort_values(by='score', ascending=False).iloc[6])

Title: A Game of Thrones
Author: George R.R. Martin
Link: https://goodreads.com/book/show/13496.A_Game_of_Thrones